body {
    margin: 0;
    padding: 1em;
    width: calc(100vw - 2em);
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: grey;
    margin: 5px;
}

.profile {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: pink; */
    border: 2px solid rgb(198, 212, 170);
    border-radius: 0.5em;
    padding: 1em;
}

.pfp {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    /* background-color: pink; */
    border: 2.5px solid rgb(51, 181, 28);
}

.rowtab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    /* background-color: yellow; */
    margin: 1em;
}

.numitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    /* background-color: red; */
}

.bio {
    text-align: center;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 0.5em;
    cursor: pointer;
    transition-duration: 0.2s;
}

.logo:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: gainsboro;
    border: 1px solid black;
    transition-duration: 0.3s;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

button:hover {
    background-color: white;
}